.title1 {
    color: var(--white);
    font-family: var(--font-primary);
    font-size: var(--size-1);
    font-weight: var(--weight-4);
}

.title2 {
    color: var(--white);
    font-family: var(--font-primary);
    font-size: var(--size-2);
    font-weight: var(--weight-4);
}

.title3 {
    color: var(--white);
    font-family: var(--font-primary);
    font-size: var(--size-3);
    font-weight: var(--weight-4);
}

.text1 {
    color: var(--white);
    font-family: var(--font-primary);
    font-size: var(--size-5);
    font-weight: var(--weight-2);
}

.paragraph {
    color: var(--white);
    font-family: var(--font-primary);
    font-size: var(--size-4);
    font-weight: var(--weight-1);
    line-height: var(--height);
}

.saibaMais {
    color: var(--purple);
    font-size: var(--size-4);
    font-weight: var(--weight-3);
    line-height: var(--height);
}

.userName {
    color: var(--purple);
    font-size: var(--size-5);
    font-weight: var(--weight-1);
    font-family: var(--font-secondary);
}