.techList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    min-width: 20.8125rem;
    gap: 1.25rem;    
    margin-top: 1.5625rem
}

.tech{
    min-height: 300px;
}

.techList li{
    width: 100%;
}

@media (min-width: 768px){
    .techList{
        justify-content: flex-start;
        gap: 4.375rem;
    }
    .techList li{
        max-width: 17.5rem;
    }

}